* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style-type: none;
  border: none;
}

#ad {
  background-image: url(images/300x250.jpg);
}

#main_feed {
  position: absolute;
  top: 0px;
  height: 250px;
  width: 300px;
}

.viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
