.bdp_single .blog_masonry_item {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.bdp_blog_template.glossary .blog_header h1.post-title {
    padding: 15px;
    padding-bottom: 5px;
    margin-top: 60px;
}
.bdp_blog_template.glossary .footer_meta {
    padding: 5px 0;
}
.bdp_blog_template.glossary .bdp-wrapper-like{
    float: right;
    padding-left: 0;
    padding-right: 10px;
}
.overlay {
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 100%;
    text-align: center;
}
.bdp_blog_template.glossary .post_summary_outer {
    display: inline-block;
    width: 100%;
}
.bdp_blog_template.glossary .post_content.entry-content {
    margin-bottom: 0;
    padding: 20px 15px 10px;
}
.bdp_blog_template.glossary .post_content p {
    margin-bottom: 10px;
}
.bdp_single.glossary .related_post_div {
    margin: 0 -15px;
}
.bdp_blog_template.glossary .blog_item .blog_footer {
    padding: 0;
    border-top: 1px solid #eee;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.blog_item .blog_footer .tags {
    line-height: normal;
}
.glossary .content_upper_div p {
    border: medium none;
}
.glossary .content_upper_div {
    border-right: 1px solid #eeeeee;
    padding: 10px;
    text-align: justify;
}
.glossary .category-link {
    line-height: 1.5;
}
.bdp_single .blog_item .blog_footer .share-this {
    color: inherit;
    display: inline-block;
    float: left;
    line-height: 1.2;
    margin-right: 15px;
    width: auto;
}
.bdp_single .blog_item .blog_footer .share-this i {
    margin-right: 5px;
}
.bdp_single .blog_item .blog_footer .share-this span {
    display: inline-block;
}
.bdp_single .blog_item .blog_footer span,
.bdp_single .blog_item .blog_footer .tags {
    padding: 5px 0;
    display: inherit;
    color: #999;
}
.bdp_single .blog_item .blog_footer .link-lable {
    padding: 0;
    display: inline-block;
}
.glossary .posted_by {
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-color: #eee;
    font-size: 14px;
    float: left;
    width: 100%;
}
.glossary .posted_by .post-author {
    text-transform: capitalize;
}
.glossary h2 {
    padding: 10px 15px;
    line-height: normal;
}
.social_icon {
    float: none;
    margin: 0 auto;
    text-align: center;
}
.bdp_blog_template.glossary .bdp-post-image img {
    height: auto;
    margin: 0;
    max-width: 100%;
}
.bdp_single .glossary .blog_item {
    width: 100%;
    display: inline-block;
    border-color: #eee;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    background: #fff;
}
.bdp_single .navigation.post-navigation {
    margin-left: 0;
    margin-right: 0;
    border-color: #eeeeee;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    margin-bottom: 30px;
    padding-left: 15px;
    width: 100%;
    padding-right: 15px;
    background: #fff;
}
.bdp_single.glossary .author-avatar-div,
.bdp_single.glossary .related_post_wrap,
.bdp_single.glossary .comments-area {
    background: #fff;
    border-color: #eeeeee;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    margin-bottom: 30px;
    padding: 15px;
}
.bdp_single.glossary .comments-title{
    border-top: none;
}
.bdp_single.glossary .comment-reply-title{
    border-top: 1px solid #d1d1d1;
}
.bdp_single.glossary .navigation.post-navigation .nav-links > div {
    background: none;
}
.bdp_single .navigation.post-navigation .nav-links > div a span.post-title {
    text-align: center;
}
.bdp_single .navigation.post-navigation .nav-links > div a span.screen-reader-text {
    clip: auto;
    height: auto;
    width: auto;
    position: relative !important;
    overflow: visible;
    text-align: center;
    display: none;
}
.footer_meta i {
    margin-right: 8px;
}
.bdp_single.glossary .author-avatar-div {
    display: inline-block;
    padding: 15px;
    width: 100%;
    background: #fff;
}
.bdp_single.glossary .author-avatar-div .author_content .author > a {
    border-bottom: 4px solid #444444;
    font-style: italic;
    line-height: 1.5;
    text-transform: capitalize;
}
.bdp_single.glossary .author-avatar-div .avtar-img {
    float: left;
    margin-right: 20px;
    margin-top: 8px;
}
.bdp_single.glossary .related_post_div.three_post .relatedthumb{
    text-align: center;
}
.bdp_single.glossary .author-avatar-div .avtar-img .avatar {
    border-radius: 0;
    width: 80px;
}
.bdp_single.glossary .author-avatar-div .author_content > p {
    margin-bottom: 0;
    margin-top: 9px;
}
.bdp_single.glossary .related_post_wrap {
    width: 100%;
    display: inline-block;
    padding-top: 15px;
    background: #fff;
}
.bdp_single.glossary .related_post_wrap h3 {
    font-weight: bold;
    text-align: center;
}
.bdp_single.glossary .related_post_wrap .relatedthumb {
    margin-bottom: 15px;
}
.bdp_single.glossary .related_post_wrap .relatedthumb .relatedpost_title {
    box-shadow: 0 4px 0 1px #eee;
    -moz-box-shadow: 0 4px 0 1px #eee;
    -webkit-box-shadow: 0 4px 0 1px #eee;
    -ms-box-shadow: 0 4px 0 1px #eee;
    font-family: fantasy;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}
.bdp_single.glossary .relatedposts .relatedthumb .related_post_content{
    box-shadow: 0 0 0 1px #eee;
}
.metacomments {
    display: inline-block;
    text-align: right;
    float: right;
}
.bdp_single.glossary .related_post_wrap .bdp-no-post-found {
    padding: 0 15px;
}
.bdp_single.glossary .bdp_blog_template .blog_footer .social-component {
    margin-bottom: 15px;
    width: auto;
}
.bdp_single.glossary .bdp_blog_template .social-component a:first-child {
    margin-left: 0;
}
.bdp_single.glossary .bdp_blog_template.author-avatar-div .social-component{
    width: auto;
    float: none;
    margin-top: 10px;
}
.bdp_single.glossary .display_post_views p{
    margin: 0 !important;
}
@media screen and (max-width: 480px) {
    .bdp_single.glossary .author-avatar-div .avtar-img {
        width: 100%;
        text-align: center;
    }
    .bdp_single .author-avatar-div img.avatar {
        float: none !important;
    }
    .bdp_single .author-avatar-div .author_content {
        text-align: center;
        padding-top: 15px;
        clear: left;
    }
}