/*
Theme Name: Depesz
Template: twentysixteen
Author: Maciej Grudziński | Foka Na Tarasie
Author URI: http://www.fokanatarasie.pl/
*/
 
@import url("../twentysixteen/style.css");
@font-face {
  font-family: 'Glass TTY VT200';
  src: url(/wp-content/themes/depesz-2018/Glass_TTY_VT220.ttf) format('truetype');
}

div#page {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

body {
	background: url('/wp-content/uploads/2018/09/bg.jpg');
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after {
	height: 0;
}
.site {
	background-size: 30%;
	margin: 0;
	background-color: transparent;
}
.site-inner {
	max-width: 100%;
	padding: 0 10px;
}
.site-header {
	padding: 1em 5% 0 5%;
}
.site-content {
	border-top: dashed 2px #fff;
	padding: 5em 5% 0 5%;
}
.content-area {
	width: 80%;
}
.sidebar {
	width: 15%;
}
#site-title-typing,
.page-title {
	display: inline;
}
/* Odnośniki i tekst */
.site-title {
	font-size: 2.2rem;
}
.entry-summary h1 {
	font-size: 1.8rem;
}
body:not(.search-results) .entry-summary {
	font-size: 1.1rem;
}
a {
	color: #00cc7a;
	box-shadow: none;
}

a:hover, a:focus, a:active {
	color: #d2d2d2;
	opacity: 0.8;
}
body, button, input, select, textarea, 
.entry-title a,
.main-navigation a,
.entry-footer a,
.post-navigation a,
.comment-notes, .comment-awaiting-moderation, .logged-in-as, .form-allowed-tags,
.comment-form label {
	color: #d2d2d2;
}
.site-branding .site-title a,
.main-navigation a {
	color: #00cc7a;
}
.site-branding .site-title a:hover {
	opacity: 0.6;
}
.entry-title {
	font-size: 1.8em;
}
.main-navigation a {
	font-style: italic;
	font-size: 1.2rem;
}
.site-branding .site-title a {
  font-family: 'Glass TTY VT200', monospace;
  font-weight: normal;
}
.widget .widget-title {
	text-transform: none;
}
#recent-posts-2 a,
#archives-2 a,
#meta-2 a {
	color: #007acc;
}
#nav_menu-2 a,
#nav_menu-3 a {
	color: #007acc;
}
.main-navigation ul ul a {
	background-color: #1f1f1f;
}
/* Content */
input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
	background: transparent;
	color: #fff;
}
input[type="date"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus, input[type="week"]:focus, input[type="month"]:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus {
	background: #1f1f1f;
	color: #fff;
}
.entry-content ul {
	margin-left: 20px;
}
.widget {
	border-top: none;
	font-size: 0.86rem;
}
.content-area {
	margin-right: 0;
	float: right;
}
.sidebar {
	margin-left: 0;
}
body:not(.search-results) article:not(.type-page) .entry-content,
footer.entry-footer {
	width: 100%;
}
body:not(.search-results) article:not(.type-page) .entry-footer {
	width: 100%;
	text-align: right;
}
.site-main > article {
	margin-bottom: 3em;
	border-bottom: dashed 1px;
	padding-bottom: 10px;
}
.single .byline,
body:not(.search-results).group-blog .byline {
	display: none;
}
.comments-area {
	max-width: 60%;
}
.posted-on,
.tags-links,
.comments-link {
	display: inline-block !important;
}
.footer-separator {
	margin-right: 20px;
	margin-left: 20px;
}

table {
	width: auto;
}
table.normal td.num {
	text-align: right;
	background-color: #2e2e2e;
}
table.normal th {
	text-align: center;
	font-weight: bold;
	background-color: #1f1f1f;
}
/* Wpisy */
.entry-content h1, .entry-summary h1, .comment-content h1 {
	font-size: 1.5rem;
}
.navigation.post-navigation {
	display: none;
}
input[type="submit"] {
	background: #007acc;
	border: solid 1px #007acc;
}
input[type="submit"]:hover {
	background: #fff;
	color: #007acc;
}
button {
	background: #007acc;
}
button:hover {
	background: #fff;
	color: #007acc;
}
a.more-link {
	color: #00cc7a;
	box-shadow: none;
	opacity: 0.6;
}
a.more-link:hover {
	opacity: 1;
}
.entry-title a:hover,
.entry-title a:focus {
	color: #00cc7a;
}
.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: #40ff40;
	opacity: 1;
}
#site-title-cursor {
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #40ff40;
  }
}
.comment-author {
    color: #d2d2d2;
}
.menu-toggle {
    color: #00cc7a;
    border: solid 1px #00aa5a;
}
.menu-toggle:hover,
.menu-toggle:focus {
    color: #00ff7a;
    background-color: #1d1d1d;
    border: solid 1px #00aa5a;
}
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
    background-color: #1d1d1d;
    border-color: #00aa4a;
    color: #80ff80;
}
#projectsToc {
    float: right;
    border: dashed 1px #d2d2d2;
    padding: 0.5em;
}
#projectsData h2 {
    clear: none;
}
#projectsData h2 a {
    font-weight: normal;
}
#projectsToc ul {
    margin-bottom: 0;
}
td.narrow div.wp-geshi-highlight {
    margin-bottom: 0;
}
