@CHARSET "UTF-8";

.itp-share{
    display:block !important;   
	float: right;	
}

.itp-share-tw{
    float:left;
    margin:10px 5px 0;
}

.itp-share-tbr{
    float:left;
    margin:10px;
}

.itp-share-fbl{
    float:left;
    margin:10px;
	margin-right: -40px;
	margin-left: -8px;
}

.itp-share-su{
    float:left;
    margin-right:14px;
    margin-top:11px;
}
.itp-share-lin{
    float:left;
    margin-right:14px;
    margin-top:10px;
}

.itp-share-gone{
    float:left;
    margin-left:5px;
    margin-right:10px;
    margin-top:10px;
}

.itp-share-gshare{
    float:left;
    margin-left:5px;
    margin-right:10px;
    margin-top:10px;
}

.itp-share-reddit{
    float:left;
    margin-top:10px;
}
.itp-share-reddit a:hover{
    text-decoration: none !important;
    background: none !important;
}

.itp-share-pinterest {
    float:left;
    margin-left:10px;
    margin-top:10px;
}

.itp-share-pinterest-above {
    float:left;
    margin-left:10px;
    margin-top:30px;
}

.itp-share-buffer {
    float:left;
    margin-top:10px;
}

