@import "../../../jomsocial/assets/css/style.min.css";

.joms-list__item img {
	width: auto;
}

.joms-form__event_times {
	
}
.joms-form__event_dates .joms-form__group,
.joms-form__event_times .joms-form__group{
	width: 43%;
}
.joms-form__event_dates .joms-form__group > span:first-child,
.joms-form__event_times .joms-form__group > span:first-child{
	line-height: 3em;
	vertical-align: top;
}
.joms-form__event_dates .joms-input,
.joms-form__event_times .joms-select {
	width: auto;
}
.joms-form__event_times .counter {
	display: none;
}
.joms-form__event_times.multiple .counter {
	display: inline;
}
.joms-form__event_times .event-times-action {
	float: right;
	font-size: 24px;
	line-height: 1.9em;
}
.joms-form__event_times .event-times-action a:focus {
	outline: none;
}
.joms-form__event_times .event-times-action .fa-plus-circle {
	color: #95C93F;
}
.joms-form__event_times .event-times-action .fa-minus-circle {
	color: #EE2A37;
}
